body{
    background-color: #494D5f;
}
html, body {
  
  margin:0;
  padding: 0;
}
#foot{
    background:linear-gradient(0deg, #83580b,#d9b650,#f5dd7b,#83580b);
    margin:0;
    display:flex;
    font-family:monospace,sans-serif;
    font-size:20px;
    text-decoration:none;
    justify-content:center;
    align-items:center;
}
header{
    background:linear-gradient(0deg, #83580b,#d9b650,#f5dd7b,#fde994,#f5dd7b,#83580b); 
    margin:0;
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.anc{
    font-weight:bolder;
    font-family:monospace,sans-serif;
    border:2px solid rgb(15, 15, 15);
    color:rgb(0, 0, 0);
    text-decoration:none;
    border-radius:10px;
    margin:15px;
    padding:10px 20px;
    align-items:center;
    transition:all 0.5s ease;
    display: inline-block;
    box-sizing:border-box;
    cursor:pointer;
    

}
.anc:hover{
    border:none;
    color:grey;
    transform:scale(1.25);
    background-color:white;
    text-decoration:underline;
    box-shadow:10px 10px 6px black;
    font-weight:bolder;
    font-family:monospace,sans-serif;

}
#head{
   padding:20px;
    color:rgb(0, 0, 0);
    font-family:monospace,sans-serif;
    font-weight:bolder;
    font-size:3em;
    flex: 1 1 1;
}
#div{
    align-items:right;
    padding:10px;
    margin:none;
    box-sizing:border-box; 
    display:inline-block;
    
   
}
#email{
    padding:20px;
    color:black;
    text-decoration: none;
    cursor: pointer;
    margin:20px;
    
}